body{
    background-color: rgb(163, 223, 203);
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;    
    border: 1px solid #f9fdf9;
    width: 350px;
    height: 260px;
    align-items: center;
   
}
h1{
    display: flex;
    justify-content: center;
    color: #2458c7;
}
.div-flex{
    display: flex;
    justify-content: center;
}
legend{
    display: flex;
    text-align: center;
}